.theme_basetheme > #registerScreenWidget > #registerWrapper > #registerForm > #registerButton {
    background-color: rgb(255, 0, 140) !important;
    color: rgb(248, 244, 244)!important;
    border-color: rgb(250, 0, 140)!important;
}
.theme_basetheme > #registerScreenWidget > #registerWrapper > #registerForm > #registerButton:hover {
    
    
    
    box-shadow:0 0rem 2rem rgb(255, 0, 140)!important
}
.theme_basetheme > #loginScreenWidget > #loginWrapper >.loginComponent > #loginForm > #loginButton {
    background-color: rgb(255, 0, 140) !important;
    color: rgb(248, 244, 244)!important;
    border-color: rgb(250, 0, 140)!important;
}
.theme_basetheme > #loginScreenWidget > #loginWrapper >.loginComponent > #loginForm > #loginButton:hover {
    
    
    
    box-shadow:0 0rem 2rem rgb(255, 0, 140)!important
}
.theme_basetheme > #loginScreenWidget > #loginWrapper >.registerComponent > #registerButton {
    background-color: rgb(255, 0, 140) !important;
    color: rgb(248, 244, 244)!important;
    border-color: rgb(250, 0, 140)!important;
}
.theme_basetheme > #loginScreenWidget > #loginWrapper >.registerComponent > #registerButton:hover {
    
    
    
    box-shadow:0 0rem 2rem rgb(255, 0, 140)!important
}
.theme_basetheme > #loginScreenWidget, .theme_basetheme > #registerScreenWidget{
    background-color: rgb(248, 244, 244);
}
.theme_basetheme#managedBackground {
    background-image:linear-gradient(to bottom right,  rgb(255,255,255),rgb(238, 115, 145));
    
}
#baseCloseIcon {
    fill:#ff008c;
    stroke: #ff008c;
}
#baseCloseIcon:hover {
    fill:rgb(238, 115, 145);
    stroke: rgb(238, 115, 145);
}
.theme_basetheme input:not(#themeSelector) {
    background-color: rgb(238, 115, 145);
    color: rgb(255,255,255) !important;
    transition-property: all;
    transition-duration: 300ms !important;
    outline: none !important;
    box-shadow: none !important; 
    border: none !important;
    box-shadow:inset 0 0 1rem rgb(238, 115, 145)!important;
}
.theme_basetheme input:not(#themeSelector):active, .theme_basetheme input:not(#themeSelector):focus  {
    
    outline: none !important;
    box-shadow:0 0 2rem rgb(255, 0, 140)!important;
    border: none !important;
    
}

.theme_basetheme ::-webkit-input-placeholder {
    color: white !important; 
}
.theme_basetheme > #loginScreenWidget input:hover, .theme_basetheme > #registerScreenWidget input:hover {
    box-shadow:inset 0 0 1rem rgb(238, 115, 145),0 0 2rem rgb(255, 0, 140)!important;
}
.theme_basetheme label {
    color:rgb(238, 115, 145);
}

.theme_basetheme input[type=range]::-webkit-slider-runnable-track{
    background-color: rgb(255, 0, 140) !important;
    box-shadow:0 0rem 1rem rgb(243, 0, 162)!important;
}
.theme_basetheme input[type=range]::-webkit-slider-thumb{
    background: rgb(238, 115, 162);
 
    
}
.theme_basetheme input[type=range]::-webkit-slider-thumb:hover{
    box-shadow:0 0rem 1rem rgb(255, 0, 140)!important;
    
} 