.theme_darktheme > #registerScreenWidget > #registerWrapper > #registerForm > #registerButton {
    background-color: rgb(110, 64, 170) !important;
    color: rgb(238, 200, 241)!important;
    border-color: rgb(110, 64, 170)!important;
    box-shadow: 0 0 0.5rem rgb(47, 47, 47)!important;
}
.theme_darktheme > #registerScreenWidget > #registerWrapper > #registerForm > #registerButton:hover {
    
    box-shadow:0 0 1.5rem rgb(236, 162, 243)!important
}
.theme_darktheme > #loginScreenWidget > #loginWrapper >.loginComponent > #loginForm > #loginButton {
    background-color: rgb(110, 64, 170) !important;
    color: rgb(233, 182, 236)!important;
    border-color: rgb(110, 64, 170)!important;
    box-shadow: 0 0 0.5rem rgb(47, 47, 47)!important;
}
.theme_darktheme > #loginScreenWidget > #loginWrapper >.loginComponent > #loginForm > #loginButton:hover {
    
    box-shadow:0 0 1.5rem rgb(236, 162, 243)!important
}
.theme_darktheme > #loginScreenWidget > #loginWrapper >.registerComponent > #registerButton {
    background-color: rgb(110, 64, 170) !important;
    color: rgb(238, 182, 243)!important;
    border-color: rgb(110, 64, 170)!important;
    box-shadow: 0 0 0.5rem rgb(47, 47, 47)!important;
}
.theme_darktheme > #loginScreenWidget > #loginWrapper >.registerComponent > #registerButton:hover {
    
    box-shadow:0 0 1.5rem rgb(236, 162, 243)!important
}
.theme_darktheme > #loginScreenWidget, .theme_darktheme > #registerScreenWidget{
    background-color: rgb(71, 33, 121);
    box-shadow: 0 0 3rem rgb(130, 80, 158)!important;
}
.theme_darktheme#managedBackground {
    color: white;
    background-image:linear-gradient(to bottom right,  rgb(57, 35, 109),rgb(27, 1, 37));
    
}
#darkCloseIcon {
    
    fill:#220055;
    stroke: #220055;
}
#darkCloseIcon:hover {
    fill:#ff008c;
    stroke: #ff008c;
}

.theme_darktheme ::-webkit-input-placeholder {
    color: rgb(238, 182, 243) !important; 
}

.theme_darktheme > #loginScreenWidget input, .theme_darktheme > #registerScreenWidget input {
    
    background-color:rgb(110, 64, 170) !important;
    border-color: rgb(110, 64, 170) !important;
    color: rgb(238, 182, 243) !important;
}
.theme_darktheme input:not(#themeSelector):active, .theme_darktheme input:not(#themeSelector):focus  {
    outline: none !important;
    box-shadow: 0 0 3em rgb(130, 80, 158)!important; 
    border: none !important;
    
}

.theme_darktheme > #loginScreenWidget input:hover, .theme_darktheme > #registerScreenWidget input:hover {
    box-shadow: 0 0 3em rgb(130, 80, 158)!important;
}
.theme_darktheme label {
    color:rgb(238, 182, 243);
}
.theme_darktheme input[type=range]::-webkit-slider-runnable-track{
    background-color: rgb(71, 33, 121);
    box-shadow:0 0rem 2rem rgb(130, 80, 158)!important;
}
.theme_darktheme input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgb(110, 64, 170) !important;
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
    border-radius: 20px;
    transition-property: box-shadow;
    transition-duration: 500ms;
  }
  .theme_darktheme input[type=range]::-webkit-slider-thumb:hover{
    box-shadow:0 0rem 1rem rgb(110, 64, 170) !important;
    
} 