
@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Indie+Flower&family=Kalam:wght@300&family=Sunshiney&family=Zeyada&display=swap');
@font-face {
  font-family:Fairy Muffin;
  src: url(FairyMuffin.ttf);
}
@font-face {
  font-family: Cat Cafe;
  src: url(CatCafe.ttf);
}
@font-face {
  font-family: Cookiemonster;
  src: url(Cookiemonster.ttf);
}
@font-face {
  font-family: Handwriting;
  src: url(Handwriting.ttf);
}
@font-face {
  font-family: Cecil;
  src: url(Cecil.ttf);
}
@font-face {
  font-family: DarlinPop;
  src: url(DarlinPop.ttf);
}
@font-face {
  font-family: WeAreInLove;
  src: url(WeAreInLove.ttf);
}
@font-face {
  font-family: TotallyMedium;
  src: url(TotallyMedium.ttf);
}
@font-face {
  font-family: Fattern;
  src: url(Fattern-GO6zm.otf) format(opentype);
}
@font-face {
  font-family: LoveOfLove;
  src: url(loveoflove.ttf);
}
@font-face {
  font-family: DarlinPopBold;
  src: url(DarlinPopBold-pB5d.ttf);
}
@font-face {
  font-family: Zoey;
  src: url(ZoeyComplete-xJ0r.ttf);
}
@font-face {
  font-family: Heartbreaker;
  src: url(Heartbreaker-7K44.ttf);
}
#managedBackground {
  
  background-image:linear-gradient(to bottom right,  rgb(255,255,255),rgb(238, 115, 145));
  
}
* {
  transition-property: background-color;
  transition-duration: 300ms;
}
html,#root,#managedBackground {
  width: 100vw;
  height: 100vh;
}
body {
  font-family: 'Heartbreaker';
  min-width: inherit;
  width: inherit;
  height: 100%;
}
html, body, #root {
  margin:0 0 0 0;
}
#loginScreenWidget, #registerScreenWidget{
  
  margin: auto;
  
  max-width: inherit;
  height: 35%;
  min-width: fit-content;
  width: 45%;
  position: absolute;
  top:0;
  left: 5rem;
  bottom:0;
  right:50em;
  padding-bottom: 2%;
  padding-top: 2%;
  box-sizing: content-box;
}

#loginWrapper {
  
  height: 100%;
  position: relative;
  min-width: min-content;
}
#loginScreenWidget > #loginWrapper > .loginComponent {
  min-width: min-content;
  max-height: fit-content;
  position: absolute;
  width: 70%;
  height: 100%;
  display: inline-block;

}

#loginScreenWidget > #loginWrapper > .registerComponent {
  right: 0;
  width:30%;
  position: absolute;
  height: inherit;
  border-left: 2px solid rgba(0, 0, 0, 0.185);
  box-sizing: border-box;
  display: inline-block;
  min-width: min-content;
  padding-left: 4%;
  padding-right: 4%;
  max-width: inherit;
  
}

#loginScreenWidget > #loginWrapper > .registerComponent > #registerButton{
  height: min-content;
  right: 10%;
  left:10%;
  font-size: max(1vw,1vh);
  
  position: absolute;
  max-width: 80%;
  box-sizing:border-box;
  bottom: 10%;
}

#loginForm {
  padding-left: 6%;
  padding-right: 6%;
  width: 100%;
  min-width: min-content;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  display: grid;
  gap:0 0;
  grid-template-rows: 10% 15% 10% 15% 50%;
  grid-template-columns: 100%;
  font-size: max(1vw,1.2vh);
}
#loginScreenWidget > #loginWrapper > .loginComponent > #loginForm > * {
  white-space: nowrap;
  grid-column: 1;
  max-width: inherit;
  width: 100%;
  margin: auto;
  position: relative;
  left: 0;
  right: 0;
  
}
#loginScreenWidget > #loginWrapper > .loginComponent > #loginForm > #usernameInput {
  grid-row: 2;
  
  
  font-size: max(1vw,1.2vh);
  text-align: left;
  height: 100%;
}
#loginScreenWidget > #loginWrapper > .loginComponent > #loginForm > #passwordInput {
  grid-row: 4;
  text-align: left;
  height: 100%;
  font-size: max(1vw,1.2vh);
}
#loginScreenWidget > #loginWrapper > .loginComponent > #loginForm > #loginButton {
  
  grid-row:5;
  margin-bottom: 0;
  bottom: 20%;
  font-size: max(1.5vw,2vh);
}
#loginScreenWidget > #loginWrapper > .loginComponent > #loginForm > #usernameInputLabel {
  font-size: max(1vw,1.2vh);
  grid-row: 1;
}
#loginScreenWidget > #loginWrapper > .loginComponent > #loginForm > #passwordInputLabel {
  font-size: max(1vw,1.2vh);
  grid-row: 3;
}

#registerScreenWidget > #registerWrapper {
  position:relative;
  
  
  height: 100%;
  width: 100%;
}
#registerScreenWidget > #registerWrapper > #registerForm {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 40%;
  
  width: 100%;
  height: 100%;
  
  padding-left: 6%;
  padding-right: 6%;
  
}
#registerScreenWidget > #registerWrapper > #registerForm *{
  white-space: nowrap;
  grid-column: 1;
  max-width: inherit;
  width: 100%;
  margin: auto;
  max-height: 100%;
  position: relative;
  margin-bottom: 10px;
  
}
#registerScreenWidget > #registerWrapper > #registerForm > #passwordInput {
  font-size: max(1vw,1.2vh);
  grid-row: 4;
  
  
  
  
  
}
#registerScreenWidget > #registerWrapper > #registerForm > #passwordInputLabel {
  grid-row: 3;
  font-size: max(1vw,1.2vh);
}
#registerScreenWidget > #registerWrapper > #registerForm > #usernameInput {
  
  
  grid-row: 2;
  font-size: max(1vw,1.2vh);

  
}
#registerScreenWidget > #registerWrapper > #registerForm > #usernameInputLabel {
  grid-row: 1;
  
  font-size: max(1vw,1.2vh);
}
#registerScreenWidget > #registerWrapper > #registerForm > #repeatPasswordInput {
  grid-row: 6;
  font-size: max(1vw,1.2vh);
}
#registerScreenWidget > #registerWrapper > #registerForm > #repeatPasswordInputLabel {
  grid-row: 5;
  font-size: max(1vw,1.2vh);
}
#registerScreenWidget > #registerWrapper > #registerForm > #registerButton {
  grid-row: 7;
  margin-bottom: 0;
  font-size: max(1.5vw,1.2vh);
}
#registerScreenWidget > #registerWrapper > #registerForm > input {
  
  text-align: left;
}
#registerScreenWidget > a >  svg {
  display: inline-block;
  top:3%;
  right:2%;
  position:absolute;
  
  height: 4%;
  cursor: pointer;
}
a > svg {
  transition-property:fill, stroke;
  transition-duration: 300ms;
}
a > svg:hover{
  transition-property:fill, stroke;
  transition-duration: 300ms;
}
button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
#themeSelector {
  position: fixed;
  bottom: 2em;
  left: 2em;
}
::-webkit-input-placeholder {
  text-align: right;
  
}
#loginScreenWidget a:hover, #registerScreenWidget a:hover{
  transform:scale(1.1);
  transition-property: all;
  transition-duration: 200ms;
}
#loginScreenWidget a, #registerScreenWidget a{
  
  transition-property: all;
  transition-duration: 200ms;
}
#loginScreenWidget input:hover, #registerScreenWidget input:hover{
  transform:scale(1.1);
  transition-property: all;
  transition-duration: 300ms !important;
}
#loginScreenWidget input:focus, #registerScreenWidget input:focus{
  transform:scale(1.1);
  transition-property: all;
  transition-duration: 300ms !important;
}
#loginScreenWidget input, #registerScreenWidget input{
  
  transition-property: all;
  transition-duration: 300ms !important;
}
input[type=range]::-webkit-slider-runnable-track{
  cursor: pointer;
  border-radius: 25px;
  background: transparent;
}
input[type=range]{
  -webkit-appearance: none !important;
  
  background: transparent;
  
}
input[type=range]::-webkit-slider-thumb:hover{
  transition-property: box-shadow background;
  transition-duration: 500ms;
}

input[type=range]::-webkit-slider-thumb{
  transition-property:box-shadow background;
  transition-duration: 500ms;
  -webkit-appearance: none;
  
  width: 25px; /* Set a specific slider handle width */
  height: 25px;
  border-radius: 25px;
  
}
.navbar {
  padding-left: 1%;
}