.theme_lighttheme > #registerScreenWidget > #registerWrapper > #registerForm > #registerButton {
    background-color: rgb(255, 212, 22) !important;
    color: #A030FF!important;
    border-color: rgb(255, 212, 22) !important;
}
.theme_lighttheme > #registerScreenWidget > #registerWrapper > #registerForm > #registerButton:hover {
    
    
    
    box-shadow:0 0rem 2rem #A030FF!important
}
.theme_lighttheme > #loginScreenWidget > #loginWrapper >.loginComponent > #loginForm > #loginButton {
    background-color: rgb(255, 212, 22) !important;
    color: #A030FF!important;
    border-color: rgb(255, 212, 22) !important;
}
.theme_lighttheme > #loginScreenWidget > #loginWrapper >.loginComponent > #loginForm > #loginButton:hover {
    
    
    
    box-shadow:0 0rem 2rem #A030FF!important
}
.theme_lighttheme > #loginScreenWidget > #loginWrapper >.registerComponent > #registerButton {
    background-color: rgb(255, 212, 22) !important;
    color: #A030FF!important;
    border-color: #ffd416 !important;
}
.theme_lighttheme > #loginScreenWidget > #loginWrapper >.registerComponent > #registerButton:hover {
    
    
    
    box-shadow:0 0rem 2rem #A030FF!important
}
.theme_lighttheme > #loginScreenWidget, .theme_lighttheme > #registerScreenWidget{
    background-color: rgb(248, 244, 244);
}
.theme_lighttheme#managedBackground {
    background-image:linear-gradient(to bottom right,  rgb(255,255,255),rgb(231, 216, 129),rgb(255,255,255));
    
}
#lightCloseIcon {
    fill:#A030FF;
    stroke: #A030FF;
    
}
#lightCloseIcon:hover {
    fill:#AB94FF;
    stroke: #AB94FF;
}

.theme_lighttheme ::-webkit-input-placeholder {
    color: #A030FF!important;
}


.theme_lighttheme > #loginScreenWidget input, .theme_lighttheme > #registerScreenWidget input {
    
    background-color: rgb(255, 212, 22) !important;
    border-color: rgb(255, 212, 22) !important;
    color: #A030FF !important;
}
.theme_lighttheme input:not(#themeSelector):active, .theme_lighttheme input:not(#themeSelector):focus  {
    outline: none !important;
    box-shadow: 0 0 3em rgb(130, 80, 158)!important; 
    border: none !important;
    
}

.theme_lighttheme > #loginScreenWidget input:hover, .theme_lighttheme > #registerScreenWidget input:hover {
    box-shadow: 0 0 3em rgb(130, 80, 158)!important;
}
.theme_lighttheme label {
    color:#A030FF;
}
.theme_lighttheme input[type=range]::-webkit-slider-runnable-track{
    background-color: rgb(255, 212, 22) !important;
    box-shadow:0 0rem 1rem #AB94FF!important
}
.theme_lighttheme input[type=range]::-webkit-slider-thumb{
    background: rgb(238, 240, 165) !important;
}
.theme_lighttheme input[type=range]::-webkit-slider-thumb:hover{
    box-shadow:0 0rem 2rem rgb(255, 212, 22) !important;
}