#mainContainer {
    display: grid;
    grid-template-columns: 15% 45% 40%;
    background-color: transparent;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    margin-top: 3%;
    height: 94%;
    width: 100%;
}
#userRecommendationContainer {
    
    
    width:100%;
    height: 100%;
}
#scrollingZone {
    background-color: wheat;
    width: 100%;
    height: 100%;
}
#freeAreaContainer{
    background-color: tomato;
    width: 100%;
    height: 100%;
}
#userColumn{
    list-style-type: none;
    display: inline-block;
    position: relative;
    background-color: yellow;
    display: block;
    margin: auto;
    margin-top:20%;
    width: 90%;
    height: 40%;
    border-radius: 5px;
    padding:5% 5% 5% 5%;
    left: 0;
    right: 0;
}
.userRow span {
    color:black;
    position:relative;
    
}
.userRow {
    
}